.details{
    padding: 25px 5vw;
    
    &__list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 8px;

        @media (max-width:768px) {
            grid-template-columns: 1fr;
        }

        @media (min-width:769px) and (max-width:1024px) {
            grid-template-columns: 1fr 1fr;
        }
    }
}