.hero{
    position: relative;
    padding: 0 5vw;
    overflow-y: hidden;
    
    &__gradient{
        img{
            padding: 0 5vw;
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            z-index: -1;
            
        }
        /* &::after{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(90deg, #181818 10%, hsla(0, 0%, 9%, .98) 20%, hsla(0, 0%, 9%, .97) 25%, hsla(0, 0%, 9%, .95) 35%, hsla(0, 0%, 9%, .94) 40%, hsla(0, 0%, 9%, .92) 45%, hsla(0, 0%, 9%, .9) 50%, hsla(0, 0%, 9%, .87) 55%, hsla(0, 0%, 9%, .82) 60%, hsla(0, 0%, 9%, .75) 65%, hsla(0, 0%, 9%, .63) 70%, hsla(0, 0%, 9%, .45) 75%, hsla(0, 0%, 9%, .27) 80%, hsla(0, 0%, 9%, .15) 85%, hsla(0, 0%, 9%, .08) 90%, hsla(0, 0%, 9%, .03) 95%, hsla(0, 0%, 9%, 0));
            pointer-events: none; /* Impede a interação com o pseudo-elemento
        } */
    }
    
    &__container{
        padding: 25px;
        width: 100%;
        max-width: 550px;
        position: relative;

        img{
            height: auto;
            width: 100%;
        }

        h2{
            margin: 40px 0 10px;
        }
        
        p{
            margin-top: 16px;
        }

        &--text_block{
            border: 1px solid #a1a1a1;
            padding: 0 5px;
        }
        
        &__autores{
            margin-top: 16px;
        }
    }
    &__assinar{
        padding: 8px 32px;
        display: flex;
        background-image: linear-gradient(90deg, #6c1f41 5%, #181818 95%);
        align-items: center;
        justify-content: space-between;
        position: relative;

        &__item{
            display: flex;
            align-items: center;

            img{
                height: 40px;
            }

            p{
                margin-left: 16px;
            }
        }
    }
}
