@use 'var';

.videos{
    padding: 25px 5vw;

    &__title{
        display: flex;
        align-items:baseline;
        padding-top: 25px;

        span{
            margin-left: 8px;
            padding-left: 16px;
            border-left: 1px solid var.$secundary;
        }
    }

    &__carousel{
        position: relative;
        margin: 16px 0;
        overflow: hidden;
        width: 100%;

        &__list{
            display: flex;

            &__item{
                margin-right: 12px;
            }
        }

        &__btn{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: rgba(0, 0, 0, 0.5);
            color: white;
            border: none;
            cursor: pointer;
            padding: 10px;
            z-index: 2;
            font-weight: bolder;
            color: red;

            &--prev{
                left: -10px;
            }

            &--next{
                right: -10px;
            }
        }
    }
}